# fly.toml app configuration file generated for bb-2407 on 2025-12-21T20:20:14-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'bb-2407'
primary_region = 'yyz'

[deploy]
  strategy = 'canary'

[build]
  dockerfile = 'Dockerfile.dockerfile'

[env]
  PORT = '3000'

[processes]
  app = 'node server/index.js'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024

[[http_service.checks]]
  grace_period = "10s"
  interval = "30s"
  method = "GET"
  timeout = "5s"
  path = "/health"