name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [opened, synchronize]

  # Allows running workflow manually from the Actions tab
  workflow_dispatch:

# A workflow is made up of one or more jobs that can run sequentially or in parallel
jobs:
  deployment_pipeline:
    runs-on: ubuntu-latest
    # Steps are an ordered sequence of tasks to be executed as part of the job
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - name: Install dependencies
        run: npm install
      - name: Run Linter
        run: npm run lint
      
      - name: Cache Playwright binaries
        uses: actions/cache@v4
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/package-lock.json') }}
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - name: Deploy to Fly.io
        if: ${{ github.event_name == 'push' && !contains(github.event.head_commit.message, '#skip') }}
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
